# Ignore node_modules (we install fresh in container)
node_modules
npm-debug.log
Dockerfile
.dockerignore

# Vite/React build artifacts (we only want dist/)
dist
.cache

# OS / editor junk
.DS_Store
*.swp
