/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
backend/node_modules/public-encrypt/test/test_rsa_privkey.pem

# Do not commit installers
infra/terraform/global/backend-bootstrap/aws/
